<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.product.mapper.AlbumMapper">

    <!--插入数据 pms_album-->
    <insert id="insert">
        INSERT INTO pms_album(name, description, sort)
        VALUES (#{name}, #{description}, #{sort})
    </insert>

    <!--批量插入数据 pms_album-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_album(name, description, sort)
        VALUES
        <foreach collection="list" index="index" item="album" separator=",">
            (#{album.name}, #{album.description}, #{album.sort})
        </foreach>
    </insert>
    <!--根据id删除-->
    <delete id="deleteById">
        DELETE
        FROM pms_album
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM pms_album WHERE id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--  动态sql , 跟新相册数据-->
    <update id="updateById">
        update pms_album
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="sort != null">
                sort=#{sort}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!--查询总数count-->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM pms_album
    </select>

    <select id="getStandardById" resultType="AlbumStandardVO">
        select
        <include refid="StandardQueryFields"/>
        from pms_album
        where id = #{id}
    </select>

    <!--    查询列表-->
    <select id="list" resultType="AlbumListItemVO">
        select
        <include refid="ListQueryFields"/>
        from pms_album
        order by id desc
    </select>

    <!-- <if test="true"> 不报错-->
    <sql id="StandardQueryFields">
        <if test="true">
            id, name, description,sort
        </if>
    </sql>
    <!--idea 检测问题 id-->
    <sql id="ListQueryFields">
        id, name,description,sort
    </sql>

</mapper>
