<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.product.mapper.AlbumMapper">

    <select id="getStandardById" resultType="AlbumStandardVO">
        select id,
               name,
               description,
               sort
        from pms_album
        where id = #{id}
    </select>
    <!--    查询列表-->
    <select id="list" resultType="AlbumListItemVO">
        select id,
               name,
               description,
               sort
        from pms_album
        order by id desc
    </select>

    <!--插入数据 pms_album-->
    <insert id="insert">
        INSERT INTO pms_album(name, description, sort)
        VALUES (#{name}, #{description}, #{sort})
    </insert>
    <!--根据id删除-->
    <delete id="deleteById">
        DELETE
        FROM pms_album
        WHERE id = #{id}
    </delete>
    <!--查询总数count-->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM pms_album
    </select>

</mapper>
