<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.product.mapper.AttributeTemplateMapper">
    <!--插入数据pms_attribute_template-->
<!--    <insert>标签上配置useGeneratedKeys="true"和keyProperty="属性名"这2个属性，就可获取插入的新数据的自动编号的主键值！-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute_template(name, pinyin, keywords, sort)
        VALUES (#{name}, #{pinyin}, #{keywords}, #{sort})
    </insert>

    <delete id="deleteById">
        DELETE
        FROM pms_attribute_template
        WHERE id = #{id}
    </delete>

    <!--查询总数count-->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM pms_attribute_template
    </select>

</mapper>
