<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.product.mapper.AttributeTemplateMapper">


    <!--插入数据pms_attribute_template-->
    <!--    <insert>标签上配置useGeneratedKeys="true"和keyProperty="属性名"这2个属性，就可获取插入的新数据的自动编号的主键值！-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute_template(name, pinyin, keywords, sort)
        VALUES (#{name}, #{pinyin}, #{keywords}, #{sort})
    </insert>

    <!--   批量插入模板数据 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute_template(name,pinyin,keywords,sort)
        VALUES
        <foreach collection="list" item="attributeTemplate" separator=",">
            (#{attributeTemplate.name},#{attributeTemplate.pinyin},#{attributeTemplate.keywords},#{attributeTemplate.sort})
        </foreach>
    </insert>

    <delete id="deleteById">
        DELETE
        FROM pms_attribute_template
        WHERE id = #{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM pms_attribute_template WHERE id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--动态sql 更新数据-->
    <update id="updateById">
        UPDATE pms_attribute_template
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="pinyin != null">
                pinyin=#{pinyin},
            </if>
            <if test="keywords != null">
                keywords=#{keywords},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <!--查询总数count-->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM pms_attribute_template
    </select>

    <!-- 根据属性模板名称统计当前表中属性模板数据的数量-->
    <!--    int countByName(String name);-->
    <select id="countByName" resultType="int">
        SELECT COUNT(*)
        FROM pms_attribute_template
        WHERE name = #{name}
    </select>

<!--    根据id获取属性模板的标准信息-->
    <select id="getStandardById" resultType="AttributeTemplateStandardVO">
        select id,
               name,
               pinyin,
               keywords,
               sort
        from pms_attribute_template
        where id = #{id}
    </select>

    <!--    查询列表-->
    <select id="list" resultType="AttributeTemplateListItemVO">
        select id,
               name,
               pinyin,
               keywords,
               sort
        from pms_attribute_template
        order by id desc
    </select>

</mapper>
