<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.product.mapper.AttributeMapper">
    <!--插入属性-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_attribute
        (template_id, name, description,
         type, input_type, value_list,
         unit, sort, is_allow_customize)
        values (#{templateId}, #{name}, #{description},
                #{type}, #{inputType}, #{valueList},
                #{unit}, #{sort}, #{isAllowCustomize})
    </insert>

    <!--    int insertBatch(List<Attribute> attributeList);-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into pms_attribute
        (template_id, name, description,
        type, input_type, value_list,
        unit, sort, is_allow_customize)
        VALUES
        <foreach collection="list" item="attribute" separator=",">
            (#{attribute.templateId}, #{attribute.name}, #{attribute.description},
            #{attribute.type}, #{attribute.inputType}, #{attribute.valueList},
            #{attribute.unit}, #{attribute.sort}, #{attribute.isAllowCustomize})
        </foreach>
    </insert>

    <!--    int deleteById(Long id);-->
    <delete id="deleteById">
        delete
        from pms_attribute
        where id = #{id}
    </delete>

    <!--    int deleteByIds(Long ids);-->
    <delete id="deleteByIds">
        delete
        from pms_attribute
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--    int updateById(Attribute attribute);-->
    <update id="updateById">
        UPDATE pms_attribute
        <set>
            <if test="templateId != null">
                template_id = #{templateId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="inputType != null">
                input_type = #{inputType},
            </if>
            <if test="valueList != null">
                value_list = #{valueList},
            </if>
            <if test="unit != null">
                unit = #{unit},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="isAllowCustomize != null">
                is_allow_customize = #{isAllowCustomize}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!--    int count();-->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM pms_attribute
    </select>

    <!--    int countByName(String name);-->
    <select id="countByName" resultType="int">
        SELECT COUNT(*)
        FROM pms_attribute
        WHERE name = #{name}
    </select>

    <!--    AttributeStandardVO getStandById(Long id);-->
    <select id="getStandById" resultType="AttributeStandardVO">
        SELECT id,
               template_id,
               name,
               description,
               type,
               input_type,
               value_list,
               unit,
               sort,
               is_allow_customize
        FROM pms_attribute
        WHERE id = #{id}
    </select>

    <!--    List<AttributeListItemVO> list();-->
    <select id="list" resultType="AttributeListItemVO">
        SELECT id,
               template_id,
               name,
               description,
               type,
               input_type,
               value_list,
               unit,
               sort,
               is_allow_customize
        FROM pms_attribute
        order by id desc
    </select>
</mapper>