<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.product.mapper.CategoryMapper">
    <!--    int insert(Category category);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_category
        (name, parent_id, depth,
         keywords, sort, icon,
         enable, is_parent, is_display)
        VALUES (#{name}, #{parentId}, #{depth},
                #{keywords}, #{sort}, #{icon},
                #{enable}, #{isParent}, #{isDisplay})
    </insert>

    <!--    int insertBatch(List<Category> categoryList);-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into pms_category
        (name, parent_id, depth,
        keywords, sort, icon,
        enable, is_parent, is_display)
        VALUES
        <foreach collection="list" item="category" separator=",">
            (
            #{category.name}, #{category.parentId}, #{category.depth},
            #{category.keywords}, #{category.sort}, #{category.icon},
            #{category.enable}, #{category.isParent}, #{category.isDisplay}
            )
        </foreach>
    </insert>

    <!--    int deleteById(Long id);-->
    <delete id="deleteById">
        DELETE
        FROM pms_category
        WHERE id = #{id}
    </delete>

    <!--    int deleteByIds(Long[] ids);-->
    <delete id="deleteByIds">
        DELETE FROM pms_category
        WHERE id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--    int updateById(Category category);-->
    <update id="updateById">
        update pms_category
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="parentId != null">
                parent_id=#{parentId},
            </if>
            <if test="depth != null">
                depth=#{depth},
            </if>
            <if test="keywords != null">
                keywords=#{keywords},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
            <if test="icon != null">
                icon=#{icon},
            </if>
            <if test="enable != null">
                enable=#{enable},
            </if>
            <if test="isParent != null">
                is_parent=#{isParent}
            </if>
            <if test="isDisplay != null">
                is_display=#{isDisplay}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!--    int count();-->
    <select id="count" resultType="int">
        select count(*)
        from pms_category
    </select>

    <!--    int countByName(String name);-->
    <select id="countByName" resultType="int">
        select count(*)
        from pms_category
        where name = #{name}
    </select>

    <!--    CateGoryStandardVO getStandardByName(String name);-->
    <select id="getStandardByName" resultType="CateGoryStandardVO">
        select id,
               name,
               parent_id,
               depth,
               keywords,
               sort,
               icon,
               enable,
               is_parent,
               is_display
        from pms_category
        where name = #{name}
    </select>

    <!--    List<CateGoryListItemVO> list();-->
    <select id="list" resultType="CateGoryListItemVO">
        select id,
               name,
               parent_id,
               depth,
               keywords,
               sort,
               icon,
               enable,
               is_parent,
               is_display
        from pms_category
        order by id desc
    </select>

</mapper>