<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syt.product.mapper.PictureMapper">

    <!--    * 插入图片数据-->
    <!--    int insert(Picture picture);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_picture(album_id, url, description, width, height, is_cover, sort)
        VALUES (#{albumId},
                #{url},
                #{description},
                #{width},
                #{height},
                #{isCover},
                #{sort})
    </insert>
    <!--    * 根据id删除图片-->
    <!--    int deleteById(Long id);-->
    <delete id="deleteById">
        DELETE
        FROM pms_picture
        WHERE id = #{id}
    </delete>

    <!--    * 根据多个id批量删除图片数据-->
    <!--    int deleteByIds(Long... ids);-->
    <delete id="deleteByIds">
        DELETE FROM pms_picture
        WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--    * 根据相册统计图片数量-->
    <!--    int countByAlbum(Long albumId);-->
    <select id="countByAlbum" resultType="int">
        SELECT COUNT(*)
        FROM pms_picture
        WHERE album_id = #{albumId}
    </select>

    <!--    * 根据id获取图片的标准信息-->
    <!--    PictureStandardVO getStandardById(Long id);-->
    <select id="getStandardById" resultType="PictureStandardVO">
        SELECT
        <include refid="StandardQueryFields"/>
        FROM pms_picture
        WHERE id = #{id}
    </select>

    <!--    * 根据相册查询图片列表-->
    <!--    List<PictureListItemVO> listByAlbum(Long albumId);-->
    <select id="listByAlbum" resultMap="ListResultMap">
        SELECT id,
               album_id,
               url,
               description,
               width,
               height,
               is_cover,
               sort
        FROM pms_picture
        ORDER BY is_cover desc, sort desc, id
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id,
            album_id,
            url,
            description,
            width,
            height,
            is_cover,
            sort
        </if>
    </sql>


    <resultMap id="ListResultMap" type="PictureListItemVO">
        <id column="id" property="id"/>
        <result column="album_id" property="albumId"/>
        <result column="url" property="url"/>
        <result column="is_cover" property="isCover"/>
        <result column="description" property="description"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="sort" property="sort"/>
    </resultMap>

</mapper>